.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #34282c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61fbe1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.scroll {
  width: 1000px;
  height: 300px;
  overflow: scroll;
  border:1px solid rgb(42, 99, 165);
  
}
a{
  color:#287ec7;
  font-family: "Times New Roman", Times, serif;

}
.no-record{
  color: red;
  margin-left:330px;
  font-family: "Times New Roman", Times, serif;
  
}

input{
  margin : 10px
}

input[type=submit] {
  padding: 5px;
  margin-left:400px;
  color:#925d49;
  background-color:#10f189
}